@import url('./monffee/monfee_wrap.css');
@import url('./monffee/monfee_headBox.css');

  /* viewBox========================== */
#viewBox { width: 100%; height:100vh; min-height:800px; background-color:var(--gray3);}










/* bestNewBox========================== */
#bestNewBox { width: 940px; height:1080px; margin:auto; background-color: var(--gray4);}

/* issueBox========================== */
#issueBox { width: 100%; height:auto; min-height:1340px; }
  .issue_text { width:100%; height:860px; background-color:var(--gray3);}
  .issue_icon { width:100%; max-width:1260px; margin:auto; height:480px; background-color:var(--gray2); }

/* conBox========================== */
#conBox { width:100%; height:auto; min-height:1880px; }
  .context_text { width:100%; height:600px; background-color: var(--gray3);}
  .material_icon { width: 100%; height:200px; background-color: var(--gray4); }
  #location { width: 100%; height:1080px; background-color: var(--gray5);} 


/* footBox========================== */
#footBox { width:100%; height:396px; background-color:var(--gray6);}