@charset "UTF-8";
/* layout_01.css */


/* 
common.css : 
공통의 class이름을 부여하여, 반복 사용하는 형태의 이름을 기입하여 빠르고 쉽게 웹페이지를
구성하도록 처리하는 기능
 */


#wrap { width:600px; height:auto; min-height:500px; margin:100px auto;  }

/* ================================================= */
#header { width:100%; height:auto; background-color:#f07; }
.clearfix:after,
.clearfix::after { content:" "; display:block; clear:both; }

h1 { float:left; width:120px; height:100px; background-color:#ccc; }
.navication { float:right; width:400px; height:100px; background-color:#fa0; }
 .navication > ul { margin:0; padding:0;  list-style:none; width:100%; height:100%; }
 .navication > ul > li { float:left; width:60px; height:100%; background-color:#fac; }
 .navication > ul > li:nth-child(2n) { background-color:#0ac; }






/* ================================================= */
#section { width:100%; height:300px; }
#section > h2 { width:0; height:0; overflow:hidden; }
 .sect_01 { float:left; width:40%; height:300px; background-color:#329664; }
 .sect_02 { float:left; width:60%; height:300px; background-color:#555555; }

/* ================================================= */
#aside { width:100%; height:auto; } 
#aside > h3 { width:0; height:0; overflow:hidden;}
 .side_01 { float:left; width:33.333333%; height:300px; background-color:#adaadd; }
 .side_02 { float:left; width:33.333333%; height:300px; background-color:#607259; }
 .side_03 { float:left; width:33.333333%; height:300px; background-color:#ad6fdd; }
 .clearfix:after,
 .clearfix::after {content:" "; display:block; clear:both; }

/* ================================================= */
#article { width:100%; height:auto; }
#article > h4 { width:0; height:0; overflow:hidden; }
 .art_01 { float:left; width:30%; height:300px; background-color: #27294d; }
 .art_02 { float:left; width:70%; height:150px; background-color:#ff7259; }
 #article > .art_03 { float:left; width:70%; height:150px; background-color:#ad6fdd; }
 .clearfix:after, 
 .clearfix::after { content:" "; display:block; clear:both; }

/* ================================================= */
#content {width:100%; height:auto; }
#content > h5 { width:0; height:0; overflow:hidden; }
#content > .art_02 { float:left; width:70%; height:150px; background-color:#ff7259; }
#content > .art_03 { float:left; width:70%; height:350px; background-color:#ad6fdd; }
#content > .art_01 { float:right; width:30%; height:500px; margin-top:-150px; background-color:#27294d; }
.clearfix:after,
.clearfix::after { content:" "; display:block; clear:both; }

/* ================================================= */
#footer { width:100%; height:100px; background-color:#03f; }