@charset "UTF-8";

/* studio_big.css */

html, body { margin:0; padding:0; }

/* headBox ================ */
#wrap { width:1600px; height:4020px; background-color: #ccc; margin:auto; }
.headBox { width:1600px; height:80px; background-color: #777; margin:auto; padding:25px 150px 15px; box-sizing: border-box;}
.logo { float:left; width:240px; height:40px; background-color:#333; }
.headBox > ul { float:right; list-style:none; padding:7px 0; box-sizing: border-box; width:640px; height:40px; background-color:#333;  }
.headBox li { float:left; width: 90px; height:20px; color:#fff; text-align: center; margin-right:16px;}
.headBox li:nth-child(6) { margin-right:0; }

/* viewBox ================ */
.viewBox { width:1600px; height:590px; background-color: #ddd; }


/* bestBox ================ */
.bestBox { width:1600px; height:530px; background-color: #777; padding:50px 0; box-sizing: border-box; }
.best_title { width:1260px; height:30px; margin:auto; background-color:#fff; }
.bestBox ul { float: left; width:100%; height:auto; }
.best_img { float:left; width:300px; height:282px; margin:45px 20px 0 0; background-color: #ccc; }
   .best_img:nth-child(1) {margin-left:170px; }


/* recentBox ================ */
.recentBox { width:1600px; height:880px; background-color:#333; padding:60px 0; box-sizing: border-box; }
.recent_title { width:1260px; height:30px; background-color:#777; margin:auto; }
.recentBox ul { width:auto; height:auto; }
.recent_img_01 { float: left; width:1013px; height:323px; background-color: #ddd; margin-left:170px; margin-top:30px; }
.recent_img_02 { float:right; width:220px; height:660px; background-color: #ddd; 
  margin-top:30px; margin-right:170px; }
.recent_img_03 { float:left; width:321px; height:316px; background-color: #ddd; 
  margin:21px 25px 0 0; }

  .recent_img_03:nth-child(3)  {margin-left:170px; }


/* artworkBox ================ */
.artworkBox { width:1600px; height:440px; background-color: #ddd; padding:66px 170px; box-sizing: border-box; }
.artwork_title { width:1260px; height:43px; background-color: #777; margin:auto; 
 }
 .artwork_box { float: left; width:406px; height:253px; background-color: #fff; margin:20px 20px 20px 0; }
 .artwork_box:nth-of-type(3) { margin-right:0; }





/* officalBox ================ */
.officalBox { width:1600px; height:1220px; background-color: #777; padding:50px 170px; box-sizing: border-box; }
.offical_title { width:1260px; height:50px; background-color: #ccc; margin:auto;
 }
 .offical_title ul { width:auto; height:auto; }
 .offical_img { float: left; width:300px; height:280px; background-color: #ddd;
margin:20px 20px 10px 0; }
.offical_img:nth-child(4n) { margin-right:0; }

/* footBox ================ */
.footBox { margin-bottom:150px; width:1600px; height:360px; background-color:#333; padding:58px 250px 0; 
box-sizing: border-box; }
.foot_category { float: left; width:140px; height:190px; background-color:#ddd; }
.foot_touch { float: left; width:240px; height:192px; background-color: #ddd; 
margin:0 240px 0 100px; }
.foot_email { float: right; width:380px; height:206px; background-color: #ddd; }
.foot_reserved { float:left; width:321px; height:33px; background-color: #ddd; 
margin:46px 0 31px; }